.logo-container {
    position: absolute;
    z-index: 0;
    width: 400px;
    height: 609px;
    opacity: 0;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;

    .solid-logo {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
      width: 100%;
      opacity: 0;
      transform: rotateZ(20deg) !important;
      z-index: 1;
    }
  }
  
  .svg-container {
    stroke: #CCF381;
    stroke-width: 10;
  }

  @media screen and (max-width: 1025px) {
    // .logo-container .solid-logo {
    //   margin-top: 0;
    // }
  }
  @media screen and (max-width: 960px) {
    .guitar-3d {
      display: none;
    }
    .logo-container .solid-logo {
      width: 80%;
      margin-top: 10%;
    }
    .logo-container {
      width: 263px;
      height: 400px;
      right: 40%;
    }
  }

  @media screen and (max-width: 845px) {
    .logo-container {
      right: 0;
    }
  }

  @media screen and (max-width: 835px) {
    .logo-container .solid-logo {
      width: 70%;
      margin-top: 18%;
    }
    .logo-container {
      width: 263px;
      height: 400px;
      right: 30%;
    }
  }

  @media screen and (max-width: 690px) {
    .logo-container {
      right: 20%;
    }
  }

  @media screen and (max-width: 590px) {
    .logo-container {
      right: 10%;
    }
  }

  @media screen and (max-width: 490px) {
    .logo-container {
      right: 1%;
    }
  }

  @media screen and (max-width: 415px) {
    .logo-container .solid-logo {
      width: 65%;
      margin-top: 13%;
    }
    .logo-container {
      right: -18%;
    }
  }

  @media screen and (max-width: 365px) {
    .logo-container .solid-logo {
      display: none;
    }

  }